한수

https://www.acmicpc.net/problem/1065

한수 

123의 숫자가 있다고 하면 자릿수대로 이 숫자들을 하나씩 분리

1,2,3

이 숫자들은 등차수열을 이르므로 123은 한수이다

주의할 것은 1부터 99까지도 한수에 포함된다

In [1]:
N = int(input())

110

In [4]:
hansu = 0
for i in range(1,N+1):
    
    if i<=99 : hansu+=1 # 1~99 는 한수
    
    else :
        num = list(map(int,str(i))) 
        #숫자를 문자열로 만들고 쪼개서 리스트 형식으로 만든다
        #map(int,list) : 리스트의 모든 요소를 int 를 사용해 변환
        
        if num[0]-num[1] == num[1]-num[2] : hansu+=1
        # 등차수열이면 한수+1

print(hansu)

99